blockquote:before, blockquote:after,  q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
/* HTML5 tags */

header, section, footer,  aside, nav, article, figure { display: block; }
.banner #slider { width:645px; height:484px;}
.banner_slider { position:relative; }
.banner_slider img { position:absolute; top:0px; left:0px; }
.banner_slider a.nivo-imageLink { position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none; }
/* The slices and boxes in the Slider */

.banner-slice { display:block; position:absolute; z-index:5; height:100%; }
.bannar-box{ display:block; position:absolute; z-index:5; }
/* Control nav styles (e.g. 1,2,3...) */

.banner_control a { position:relative; z-index:9; cursor:pointer; }
.banner_control a.active { font-weight:bold; }
.banner .banner_slider { position:relative; background:#fff url(../images/loading.gif) no-repeat 50% 50%; }
.banner .banner_slider img { position:absolute; top:0px; left:0px; display:none; }
.banner .banner_slider a { border:0; display:block; }
.banner .banner_control { bottom:70px; left:10px; margin-left: 0; position: absolute; z-index:150; }
.banner .banner_control a { display:block; width:22px; height:15px; background:url(../images/common.png) no-repeat scroll -17px 0px transparent; text-indent:-9999px; border:0; margin-right:3px; float:left; }
.banner .banner_control a.active {background:url(../images/common.png) no-repeat scroll 5px 0 ;}
.banner .ban_direction a { display:block; width:30px; height:30px; background:url(../images/arrows.png) no-repeat; text-indent:-9999px; border:0; }
.slider-wrapper { background:#FFFFFF; border: 1px solid #bbbbbb; display: inline-block; height:618px; width:617px; float:left; overflow:hidden; position:relative;}
.ban_direction{display:none!important;}
