@import url(http://fonts.googleapis.com/css?family=Telex);
/* Reset ================================================================================= */
* { margin:0; padding:0; }

body {
	background: url("../images/bg.jpg") repeat scroll 0 0 
	#F2F2F2;
	color: #404040;
	font:11px/1.55 'Telex', sans-serif ;
	text-align: center;
	border-top:6px solid #BCA474;
	border-bottom: 6px solid #BCA474;
}
.g-hidden { display: none }

.form.popup span.required {
    color: #339900;
    left: -9px;
    position: absolute;
    top: -7px;
    font-size: 17px;
}
.form.popup {
    overflow: hidden;
    margin-top: 10px;
}
.form.popup .row,
.form.popup .row-high {
    position: relative;
    padding-bottom: 10px;
}
.form.popup .row:after,
.form.popup .row-high:after {
    content: "";
    display: table;
    clear: both;
}
.form.popup .row.btns,
.form.popup .row-high.btns {
    padding: 0;
    margin: 12px 0px 0 0;
}
.form.popup .row-high {
    padding-bottom: 10px;
    line-height: 23px;
    color: #000;
    font: 13px 'arial';
}
.form.popup .left {
    color: #333333;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    padding-left: 8px;
    width: 138px;
    font-family: 'arial';
}
.form.popup .right {
    color: #000;
    float: right;
    font-family: 'arial';
    width: 65%;
    padding: 0;
    /*margin-right: 15px;*/
}
.form.popup .right label {
    cursor: pointer;
    vertical-align: bottom;
}
.form.popup .right input {
    margin-bottom: 0;
    vertical-align: bottom;
}
.form.popup input[type="text"] {
    width: 65%;
    float: left;
    margin: 0 0px 0 13px;
}
.form.popup span {
    display: block;
    margin: 5px 5px 0 9px;
    float: left;
}
.form.popup .power-from { margin: 5px 0 0 13px }
.form.popup input[type="text"].date {
    display: inline-block;
    width: 87px;
}
.form.popup .quantity {
    display: inline-block;
    width: 80px;
}
.btn-do {
    margin: 0px;
    padding: 0px 20px;
    min-width: 160px;
    min-height: 30px;
    background: linear-gradient(#919191, #5e5e5e);
    color: white;
    font-weight: bold;
}
.btn-rew{
    float: right;
    line-height: 30px;
    min-width: 120px;
}
.form.popup .btn-do {
    padding: 4px 20px;
    min-width: 150px;
    top: -4px;
    position: relative;
    float: right;
}
.form.popup .btn-cancel {
    min-width: 130px;
    line-height: 24px;
    position: relative;
    float: left;
    padding:0px 10px;
    margin-top: 0px;
    margin: 0 0px;
}
.form.popup .btn-edit {
    width: 110px;
    margin: -5px -15px 0 0;
    float: right;
}
.form.popup p {
    line-height: 18px;
    color: #333;
}
html body div#container div#content.g-clearfix div#formInRegister.curved-hz-1 div.form.wide.enter-popup form#LoginForm div.form.mini div.row.buttons input.btn-green {
    margin: 0;
    line-height: 22px;
    height: 23px;
    min-width: 80px;
    width: 80px;
}
html body div#container div#content.g-clearfix div#formInRegister.curved-hz-1 div.form.wide.enter-popup { margin: 0 }
#popup > hr { margin: 13px 0 10px }
.form.popup .big-popup-input input[type="text"],.form.popup .big-popup-input textarea{width: 251px;margin-left: 15px;margin-right: 0;float: left}
.form.popup input[type="text"].value ,.form.popup .small-popup-input input[type="text"],.form.popup .small-popup-input select{
    margin-left: 15px;width: 60px;margin-right: 8px;float: left;}
.popup-logo{width: 100px; display: block; float: left; height: 70px;}
.popup-your-logo{width: 135px;display: block;float: left;height: 110px;}
.popup-head-title{display: block; float: right; position: relative;width:295px; top: 10px;}
.popup-head{min-height:115px;border-bottom: 1px solid #A1A1A1;padding-bottom: 6px;margin-bottom: 10px;}
.popup-head+hr{display: none!important;}
.form.popup .popup-update span{margin: 0 9px 0 0 }



img           { border:0; vertical-align:top; }

a             { color:#957B47; text-decoration:none; }
a:hover       { text-decoration:none; }
:focus        { outline:0; }

/* Headings */
h1          { font-size:2em; font-weight:normal; line-height:1.15; }
h2          { font-size:1.5em; line-height:1.25; margin-bottom:.45em; }
h3          { font-size:1.35em; line-height:1.25; margin-bottom:.45em; }
h4          { font-size:1.05em; line-height:1.35; margin-bottom:.45em; }
h5          { font-size:1.05em; line-height:1.35; margin-bottom:.45em; }
h6          { font-size:1em; line-height:1.35; margin-bottom:1em; }

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 1em; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size:1em; }
big           { font-size:1.15em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }
input[type=radio]{height:13px; width:13px;}
/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
/* ======================================================================================= */

/* Layout ================================================================================ */
.wrapper { background: url("../images/bg.png") repeat-y scroll center top transparent; padding-top: 0; }
.page { background:#fff; margin: 0 auto; padding: 20px; text-align: left; width: 960px; }
.main-container {margin-top:15px;}
.main { min-height:350px; }

/* Base Columns */
.col-left { float:left; width:187px; padding:0 10px 1px 0px; border-right:1px solid #BABABA; }
.col-main { float:left; width:750px; padding:0; color:#404040;}
.col-right { float:right; width:187px; padding:0 0 1px 10px; border-left:1px solid #BABABA; }
.catalog-category-view .col-main { float:left; width:750px; padding:0; }

/* 1 Column Layout */
.col1-layout .main { padding:16px 0px 40px; }
.col1-layout .col-main { float:none; width:auto; }


/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout .col-main { width:452px; }
.col3-layout .col-wrapper { float:left; width:689px; }
.col3-layout .col-wrapper .col-main { float:right; }

/* Content Columns */
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
/* ======================================================================================= */

/* Global Styles ========================================================================= */
/* Form Elements */
input,select,textarea,button { font:11px/15px 'Telex', arial, Times, serif; vertical-align:middle; color:#2f2f2f; }
input.input-text,select,textarea {background:#fff;
padding:8px; color:#313030; border:1px solid #b6b6b6; }
input.input-text,textarea { padding:2px; background:#fff; color:#313030;}
select { padding:1px; }
select option { padding-right:10px; }
textarea { overflow:auto; }
input.radio { margin-right:3px; }
input.checkbox { margin-right:3px; }
input.qty { width:2.5em !important; }
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { /*-webkit-border-fit:lines;*/ } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background:transparent; cursor:pointer; -webkit-box-shadow: 1px 1px 2px 1px #D5D5D5;
box-shadow: 1px 1px 2px 1px #D5D5D5; -moz-box-shadow: 1px 1px 2px 1px #D5D5D5; }
button.button span{ 
	float:left; 
	height:24px; 
	padding:0 0 0; 
	font:bold 11px/24px 'Telex', arial, Times, serif; text-transform:uppercase; 
	text-align:center; 
	white-space:nowrap; 
	color:#fff; 
	background:#BCA474; 
	border: 2px solid #FFFFFF;
}
button.button:hover span{background:#404040;}
button.disabled span { color:#bbb !important; }
button.button span span { color: #fff; float: left; font-size: 11px; font-weight: normal; padding:0 10px; text-decoration: none; text-transform: uppercase; box-shadow:none; -webkit-box-shadow:none; border:none; }
button:hover.button span span { border:none !important; }

p.control input.checkbox,
p.control input.radio { margin-right:6px; }

/* Form lists */
.form-list li { margin:0 0 6px; }
.form-list label { float:left; color:#404040; font-weight:normal; position:relative; z-index:0; }
.form-list label.required {}
.form-list label.required em { float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-7px; }
.form-list li.control label { float:none; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { margin-top:-1px; margin-right:4px; }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }
/*.form-list li.fields { margin-right:-15px; }*/
.form-list .input-box { display:block; clear:both; width:338px; }
.form-list .field { float:left; width:345px; }
.form-list input.input-text { width:325px; padding:5px; color:#313030; background:#fff; }
.form-list textarea { width:254px; height:10em; }
.form-list select { width:260px; background:#fff; padding:4px; color:#404040; }
.form-list li.wide .input-box { width:535px; }
.form-list li.wide input.input-text { width:529px; }
.form-list li.wide textarea { width:529px; }
.form-list li.wide select { width:535px; }
.buttons-set { clear:both; margin:4em 0 0; padding:8px 0 0; border-top:1px solid #BABABA; text-align:right; }
.buttons-set p.required { margin:0 0 10px; }
.buttons-set .back-link { float:left; margin:0; }
.buttons-set .back-link a { background: #BCA474; color: #FFFFFF; font-weight: normal; padding: 5px 10px; text-decoration: none; text-transform: uppercase; height:24px; line-height:23px; float:none; font-family: 'Telex', arial, Times, serif; }
.buttons-set button.button { float:right; margin-left:5px; }
.buttons-set-order { margin:10px 0 0; }
.buttons-set-order .please-wait { padding:5px 7px 0 0; }
.fieldset { margin:0 10px 25px; }
.fieldset .legend { background: #BCA474; color: #FFFFFF; font-size: 13px; line-height: 1.25; margin: 0 -10px 12px; padding: 6px 10px; }

/* Form Validation */
.validation-advice { clear:both; min-height:13px; margin:3px 0 0; padding-left:13px; font-size:11px; line-height:13px; background:url(../images/validation_advice_bg.gif) 2px 3px no-repeat; color:#eb340a; }
.validation-failed { border:1px solid #eb340a !important; background:#faebe7 !important; }
.validation-passed {}
p.required { font-size:11px; text-align:right; color:#EB340A; }
/* Expiration date and CVV number validation fix */
.v-fix { float:left; }
.v-fix .validation-advice { display:block; width:12em; margin-right:-12em; position:relative; }

/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }

.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; padding:4px 12px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; color:#3d6611; }

/* BreadCrumbs */
.breadcrumbs a { color:#7f7f7f; }
.breadcrumbs li { display:inline; }
.breadcrumbs li strong { font-weight:bold; }

/* Page Heading */
.page-title { width:100%; overflow:hidden; margin:0 0 16px; }
.page-title h1,
.page-title h2 { color: #404040;  font-size: 24px;  font-weight: normal; line-height: normal;}
.page-title .separator { margin:0 3px; }
.subtitle,
.sub-title { clear:both; padding:12px 0 0; font-size:16px; font-weight:bold; margin:0 0 6px; }

/* Sorter */
.sorter { font-size:11px; background:#fff url(../images/bkg_toolbar.gif) 0 100% repeat-x; padding:3px 8px; border-top:1px solid #ddd; }
.sorter .view-mode { float:left; margin:0; }
.sorter .sort-by { float:right; padding-right:36px; }
.sorter .sort-by label { vertical-align:middle; }
.sorter .sort-by select { padding:0; margin:0 0 1px; vertical-align:middle; }
.sorter .link-feed {}

/* Toolbar */
.toolbar { margin: 0 0 12px; float:left; width:750px; padding:4px 0px; border-bottom:2px solid #BCA474; }
.toolbar .pager { padding:3px 0px; float:left; width:79px; }
.toolbar .sorter { background:none; border:none; float:right; padding:5px 0px 3px;}
.toolbar-bottom {}
.pager .limiter {float: right;}

/*pagination*/
.pages{margin:0 auto; text-align:center; padding-top:5px;}
.pages strong{display:inline;}
.pages ol{display:inline;}
.pages ol li{display:inline; padding:0 3px;}
.pages ol li a{display:inline;}

/* Data Table */
.data-table { width:100%; }
.data-table tr.odd  { background:#fff; }
.data-table tr.even { background:#fcfcfc; }
.data-table tr.last th,
.data-table tr.last td { border-bottom:0 !important; }
.data-table th { padding:2px 8px; font-size:10px; text-transform:uppercase; white-space:nowrap; color:#fff; }
.data-table th.wrap { white-space:normal; }
.data-table th a { color:#fff; }
.data-table td { padding:3px 8px; }

.data-table thead,
.data-table thead tr { background:#BCA474; }

.data-table tfoot { border-bottom:1px solid #d9dde3; }
.data-table tfoot tr { background-color:#BCA474 !important; }
.data-table tbody th { padding:3px 8px; font-size:11px; font-weight:bold; text-transform:none; white-space:normal; }
.data-table tbody th,
.data-table tbody td { border-bottom:1px solid #d9dde3; color:#313030; }
.data-table tfoot strong { font-size:14px; }
/* Bundle products tables */
.data-table tbody.odd tr { background:#fff; }
.data-table tbody.even tr { background:#fcfcfc; }
.data-table tbody.odd tr td,
.data-table tbody.even tr td { border-bottom:0; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }
.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
.data-table tbody td .option-value { padding-left:10px; }

/* Class: std - styles for admin-controlled content */
.std .subtitle { padding:0; }
.std ol.ol { list-style:decimal outside; padding-left:1.5em; }
.std ul.disc { list-style:disc outside; padding-left:18px; margin:0 0 10px; }
.std dl dt { font-weight:bold; }
.std dl dd { margin:0 0 10px; }

/* Misc */
.links li { display:inline; }
.links li.first { padding-left:0 !important; }
.links li.last { background:none !important; padding-right:0 !important; }
.link-cart { font-weight:bold; color:#d62502; }
.link-wishlist { color:#957B47; }
.btn-remove { display:block; width:12px; height:12px; font-size:0; line-height:0; background:url(../images/btn_remove.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.btn-edit    { display:block; width:12px; height:12px; font-size:0; line-height:0; background:url(../images/btn_edit.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.separator { margin:0 3px; }
.divider { clear:both; display:block; font-size:0; line-height:0; height:1px; background:#ccc; margin:10px 0; text-indent:-999em; overflow:hidden; }

/* Noscript Notice */
.noscript { border:1px solid #ddd; border-width:0 0 1px; background:#ffff90; font-size:12px; line-height:1.25; text-align:center; color:#2f2f2f; }
.noscript .noscript-inner { width:950px; margin:0 auto; padding:12px 0 12px; background:url(../images/i_notice.gif) 20px 50% no-repeat; }
.noscript p { margin:0; }
/* ======================================================================================= */

/* Header ================================================================================ */
.logo { /*float:left;*/ }
.header-container { width:960px; margin:0px auto;}
.header { margin:0px 0 0 0; float:left;}
.header .logo { /*float:left*/ text-decoration:none !important; }
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header .top-promo { float:left; width:117px; height:30px; margin:12px 10px 0; background:url(../images/bkg_top-promo.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.top-welcome-msg { margin: 0; padding-top:12px; text-transform:uppercase; }
.top-welcome-msg, #search-bar { border-top: 1px solid #bababa; margin: 12px 0 0; }
.welcome-msg a {}
.top-bar { padding:12px 0 0 47px; float:left; line-height:21px; }
.top-bar .breadcrumbs { float:left; width:580px; overflow:hidden; }
.header-container .top-container { padding:5px 12px; background:#fff; border:1px solid #bbb; border-width:0 1px 1px; text-align:right; }

.quick-access { color:#404040; padding:0; float:left; /*margin-bottom:20px;*/  border-bottom:1px solid #bababa; width:100%; position:relative; z-index:1000;}
.quick-access .form-language { float:left; }
.quick-access .form-language label {padding-right:5px; color:#545454; vertical-align:middle; }
.quick-access .form-language select { padding:0; }
.quick-access .form-language select.flags option { background-position:4px 50%; background-repeat:no-repeat; padding-left:25px; }
.quick-access .links { float:right; }
.quick-access .links,
.quick-access .links li { display:inline; }
.quick-access .links li { padding:0 10px 0 1px; }
.quick-access .links a { color:#404040; font-size:11px; /*padding:6px 0 5px 22px !important;*/ }
.quick-access .links a:hover { color:#9d8149; border-bottom:1px dotted #9d8149; }
.quick-access .links li.last a { padding:0; }

/*Search*/
.form-search { float:left; border:1px solid #E2E2E2; width:213px; }
.form-search label { float:left; font-size:12px; font-weight:bold; padding:0 5px 0 0; }
.form-search input.input-text { background: none repeat scroll 0 0 transparent; border: medium none; color: #303131; float: left; font-size: 10px; padding-left: 5px; padding-top: 4px; width: 190px; line-height:12px; filter:none; }
.form-search button.button span:hover { background:none; }
.form-search button.button { float:left; width:12px; background:url(../images/magnify.gif) no-repeat scroll 0 4px transparent; text-indent: -9999px; box-shadow:none; }
.form-search button.button span { background-image: none; float: right; height: 23px; line-height: 21px; text-align: left; text-indent: -9999px; background:none; border:none; box-shadow:none; -webkit-box-shadow:none; }
/*Search*/	

/*Cart*/
.header_cart { position:relative; float:right; margin:0px !important; z-index:99; }
.header_cart .block-cart { background: none repeat scroll 0 0 #444444; border: medium none; display: none; padding: 10px 10px 20px; position: absolute; right: 0; width: 317px; z-index:1500; top:33px; }
.header_cart .block .empty { color: #404040; font-size: 15px; margin: 0; text-align: left; }
.header_cart.block-cart .subtotal { color: #404040; font-size: 15px; margin-top:0; background:none; float:right; }
.header_cart.block-cart .mini-products-list li { background:none; border-bottom: 1px solid #656565; color: #404040; float: left; margin-right: 15px; padding: 5px; width:285px; }
.header_cart.block-cart .mini-products-list li a { color:#404040; }
.header_cart.block-cart .block-content_pan a { color: #957B47; }
.header_cart.block-cart .block-subtitle { border: medium none; float: right; font-family: oswald; font-size: 12px; margin: 0; padding: 3px 8px; text-transform: capitalize; }
.header_cart.block-cart .mini-products-list { float: left; width:317px; padding:10px 0; }
.header_cart.block-cart .amount { color: #B5B5B5; font-family: oswald; font-size: 12px; margin: 0; padding: 3px 8px; }
.header_cart.block-cart .block-content_pan a.product-image { border: 2px solid #FFFFFF; color: #FFFFFF; width:auto; }
.remain_cart { background: none repeat scroll 0 0 #FFFFFF; border: 2px solid #BCA474; display: none; right:0px; padding: 10px; position: absolute; top:-22px; width: 303px; z-index: 99; color:#404040; }
.remain_cart .empty { margin-top: 10px; width:180px; }
/*Cart*/

/*currency*/
.header_currency{float:left; width:300px;}
.header_currency .block-currency { background: none repeat scroll 0 0 transparent; margin:0px;}
.header_currency .block-content{ float: left; margin-left:10px!important;}
.header_currency .block-title{float:left;}
.header_currency .block .block-title strong span { font-size: 12px; }
.header_currency .block .block-title, .header_currency .block .block-title strong, .header_currency .block block-currency, .header_currency .block-content{margin:0px; padding:0px;}
.header_currency .block .block-title strong span{ float: left; padding: 0;}
.currency_icon{width:16px; height:15px; margin-right:10px; text-indent:-9999px; float:left;}
.currency_icon.british{background:url(../images/currency_GBP.gif) no-repeat;}
.currency_icon.euro{background:url(../images/currency_EUR.gif) no-repeat;}
.currency_icon.dollar{background:url(../images/currency_USD.gif) no-repeat;}
/*currency*/

/*Flag*/
.flag{width:24px; height:24px; margin-right:10px; text-indent:-9999px; float:left; margin-top:2px;}
.flag.english{background: url(../images/flag_default.gif) no-repeat scroll 0% 0% transparent;}
.flag.french{background: url(../images/flag_french.gif) no-repeat scroll 0% 0% transparent;}
.flag.german{background: url(../images/flag_german.gif) no-repeat scroll 0% 0% transparent;}
/*Flag*/

.logo-box { border-left: 1px solid #bababa; border-right: 1px solid #bababa; height: 92px; margin: 0; padding: 0px 0 10px; width: 200px; }
#logo { clear: both; float: left; height: 100px; margin: 24px 0; position: relative; width: 960px; }
#logo li.head-container { height: 70px; padding-top: 0px; text-align: center; }
#logo > li { display: inline; float: left; width: 318px; text-align:center; }
.head-container span { font-style: italic; color:#BCA474; font-family:Georgia, "Times New Roman", Times, serif; }
.free-shipping { float:left; width:200px; font-size:15px; height:80px; text-transform:uppercase; position:relative; padding-left:90px; background: url(../images/free_shipping.jpg) no-repeat 0px 0px; }
.free-shipping span { display:block; width:auto; font-size:11px; text-transform:none; }
.free-shipping .icon { position:absolute; left:0px; background: url(../images/icon_free.jpg) no-repeat; top: -25px; width: 100px; height:91px; }
h2.classy { display: inline; font-style: italic; letter-spacing: 1px; padding: 0 12px; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif; }

/********** < Navigation */
.nav-container { width:960px; float:left;  position:relative; z-index:150; }
#nav{ margin:0px 0 0px; font-size:12px; /*background:#BCA474;*/ border-bottom:1px solid #BABABA; border-top:1px solid #BABABA; display:inline-block; width:100%; }
#nav ul { background: none repeat scroll 0 0 #404040; border-top:none; color: #FFFFFF; float: left; font-size: 16px; font-weight: normal; padding: 6px 10px; text-decoration: none; text-transform: capitalize; }

/* All Levels */ /* Style consistent throughout all nav levels */
#nav li {text-transform:uppercase; text-align:left;	}
#nav li.last{margin-right:0px;}
#nav li.over { z-index:998; }
#nav a:hover  { color:#000;}
#nav span {cursor:pointer; white-space:nowrap; }
#nav li ul span {white-space:normal; padding-left:10px;}
#nav ul li{width:170px;}

/* 0 Level */
#nav li { float:left!important; padding:0; }
#nav li.active a {color:#000;}
#nav li.active ul li a{border:none;}
#nav a {
    color: #404040;
    float: left;
    font-size: 12px;
    font-weight: normal;
    padding: 12px 26px 12px 26px;
    text-transform: uppercase;
	text-decoration:none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-shadow: 0px 0px 10px #fff;
}
#nav li.over a,
#nav a:hover { /*color:#DD3C2C;*/ color:#fff; background:#404040; text-shadow: 1px 1px 10px #fff; }
#nav li.over,
#nav li.active {}

/* 1st Level */
#nav ul li,
#nav ul li.active,
#nav ul li.over { float:none; background:none; margin:0; padding:6px 0; text-transform:none; }
#nav ul li.parent { background:url(../images/bkg_nav_parent.gif) no-repeat 100% 50%; width:180px;}
#nav ul ul li {
    height: auto;
    line-height: 15px;
    margin: 0;
    width: 170px;
	border-bottom:1px dotted #555555;
}
#nav ul ul li a{font-size:11px;}
#nav ul ul li a span{font-size:11px; padding-left:15px; background:url(../images/bullets.png) no-repeat left center;}
#nav ul li.last { border:none;}
#nav ul li.active { margin:0; background:none; }
#nav ul a,
#nav ul a:hover { float:none!important; padding:0!important; background:none!important; border:none; border-radius:0px; box-shadow: none; }
#nav ul li a { font-weight:normal !important; }

/* 2nd Level */
#nav ul,
#nav div { position:absolute; width:940px; top:44px; left:-10000px; padding:3px 8px; }
#nav div ul { position:static; width:auto; border:none; padding:0; }

/* 3rd+ Level */
#nav ul ul,
#nav ul div { top:5px; width:200px; position:static; }

#nav ul li a { padding:3px 0; color:#fff !important; font-size:14px;}
#nav ul li a:hover { padding:3px 0; color:#191629 !important; }

/* Show menu */
#nav li ul.shown-sub,
#nav li div.shown-sub { left:-1px; z-index:999; }
#nav li .shown-sub ul.shown-sub,
#nav li .shown-sub li div.shown-sub { left:0; display:block; }
/* ======================================================================================= */

/* Sidebar =============================================================================== */
.block {margin:0 0 12px; line-height:1.35; }
.block .block-title { padding:2px 0px; border-bottom:1px solid #BCA474; }
.block .block-title strong { display:block; font-size:15px; font-weight:normal; padding:4px 0; /*color:#BCA474;*/}
.block .block-title strong span {}
.block .block-title a { text-decoration:none !important; }
.block .block-subtitle { color: #404040; font-size: 11px; font-weight: bold; margin: 0 0 10px; padding: 0 0 2px; }
.block .block-content { padding:12px 10px 12px 0; }
.block .block-content li.item { border-bottom:1px solid #ddd; padding-bottom:5px; margin-bottom:5px; }
.block .block-content li.item.last { border-bottom:0; padding-bottom:0; margin-bottom:0; }
.block .block-content .product-name { color:#4f8100; }
.block .block-content .product-name a{color:#313030; font-size:11px; font-weight:normal;}
.block .btn-remove,
.block .btn-edit { float:right; margin:1px 0 2px 5px; }
.block .actions {padding:5px 0 0; margin:5px 0 0; text-align:right; }
.block .actions a { float:left; color:#404040; padding:5px; }
.block .actions button.button { float:left; }
.block .empty { margin:0; /*color:#fff; */}
.block .price-box { margin:5px 0; }
.product-details .price{font-weight:bold;}
.block .block-content .link-wishlist { font-weight: normal; text-decoration: underline; padding:0; background:none;	font-size:11px;}
.block .remain_cart button.button span span{background:#545454;}
.block .block-title.cat_heading { background: url("../images/cat_heading.jpg") repeat-x scroll 0 0 transparent; border: medium none; color: #FFFFFF; height: 27px; line-height: 20px; padding-left: 10px; }

/* Block: Currency Switcher */
.block-currency { background:#f4f4f4; }
.block-currency .block-title { border:0; background:none; padding:7px 10px 2px; text-transform:none; }
.block-currency .block-title strong { text-transform:none; }
.block-currency .block-content {/* padding:0 10px 12px;*/ padding-top:0px; }
.block-currency .block-content select { width:100%; padding:0; }

/* Block: Layered Navigation */
.block-layered-nav { border:0; }
.block-layered-nav .block-title {}
.block-layered-nav .block-content { padding:0; }
.block-layered-nav .block-subtitle { margin:0; background:#eeeeee; font-size:11px; font-weight:normal; padding:3px 10px; }
.block-layered-nav .currently ol { padding:6px 0 0; }
.block-layered-nav .currently li { padding:2px 10px; }
.block-layered-nav .currently .label { font-weight:bold; }
.block-layered-nav .currently .btn-remove { margin:2px 0 0; }
.block-layered-nav .actions { padding:5px 10px; margin:0; }
.block-layered-nav .actions a { float:none; }
.block-layered-nav dd { padding:0 10px 8px 10px; font-size:10px; display:none;}
.block-layered-nav dd li { line-height:1.35; margin:0 0 3px; padding:2px 0; }
.block-layered-nav dd a {/* color:#fff;*/ }
.block-layered-nav div.collapse { background: url("../images/expand.png") no-repeat scroll 170px -17px transparent; border-top: 1px solid #FFFFFF; cursor: pointer; font-size: 12px; padding:4px 10px 4px 0; }
.block-layered-nav div.highlight { background: url("../images/expand.png") no-repeat scroll 170px 7px transparent; }

/* Block: Cart */
.head-container .block-cart .summary {text-align:center;}
.block-cart .summary {text-align:left; position:relative; z-index:1;}
.block-cart .amount { margin:0; }
.block-cart .amount a { font-weight:bold; color:#BCA474; }
.block-cart .subtotal { background: #e2e2e2; margin: 5px 0 0; padding: 3px 7px; }
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions {}
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }
.header_cart.block-cart .subtotal span{color:#404040;}

/* Block: Poll */
.block-poll .block-subtitle { font-size:10px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll .answer { font-weight:bold; }
.block-poll .votes { float:right; margin-left:10px; }
.block-poll .label {margin-left:18px; }
.block-poll li { padding:3px 0px; }
.block-poll label { /*color:#fff;*/ font-weight:normal; }
.block-poll input.radio { float:left; margin:1px -18px 0 0; }
/* ======================================================================================= */

/* Category Page ========================================================================= */
.category-title { background: none repeat scroll 0 0 #BCA474; border: 1px solid #4c7723; border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; margin: 0 0 7px; display:none; }
.category-title h1 { font-size: 15px; font-weight: normal; line-height: 1.25; padding: 8px 10px; }
.category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:center; }
.category-image img {}
.category-description { margin:0 0 10px; }
.category-products {}
.desc a{color:#d7ccfb;}

/* View Type: Grid */
.products-grid { position:relative; }
.products-grid.last{ border-bottom:0; }
.products-grid li.item, .products-list li.item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 5px #E5E5E5;
	-moz-box-shadow: 0 0 5px #E5E5E5;
	-webkit-box-shadow: 0 0 5px #E5E5E5;
    float: left;
    margin-right: 12px;
    padding: 12px;
    position: relative;
    width: 216px;
}
.products-list li.item{width:725px!important; margin-bottom:12px;}
.products-grid li.item.last{margin-right:0px;}
.products-grid li:hover.item, .products-list li:hover.item{border: 1px solid #BCA474;
    box-shadow: 0 0 5px #E5E5E5;
	-moz-box-shadow: 0 0 5px #E5E5E5;
	-webkit-box-shadow: 0 0 5px #E5E5E5;}
.products-grid .product-image { display:block; min-width:214px; margin:0 0 10px; text-align:center; background:#fff; }
.products-grid.first .product-image { border-top:0; }
.products-grid li.last .product-image { border-right:0; }
.products-grid .product-name { font-size:12px; margin:0 0 6px; min-height:38px; }
.products-grid .product-name a {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
}
.products-grid button.button{float:left;}
.products-grid .product-name a:hover { text-decoration:none; }
.products-grid .price-box { margin:0px 0; float:left;}
.products-grid .availability { line-height:21px; }
.products-grid .actions { float:left; width:216px; border-top:1px solid #E2E2E2; padding-top:8px;}
.products-grid .quick_view, .products-list .quick_view { background: none repeat scroll 0 0 #BCA474; color: #FFFFFF; float: right; font-size: 11px; padding: 4px 10px; text-transform: uppercase; border: 2px solid #FFFFFF; box-shadow: 1px 1px 2px 1px #D5D5D5; text-shadow: 1px 1px 2px #545454; }
.products-grid a:hover.quick_view, .products-list a:hover.quick_view { background:#404040; }
.col2-left-layout .products-grid,
.col2-right-layout .products-grid { width:684px; margin:0 auto; }
.col1-layout .products-grid,
.page-empty .products-grid { width:684px; margin:0 auto; }
.col2-right-layout .products-grid{float:left; width:750px!important; margin-bottom:12px;}
.catalog-category-view .main { background:none; border:none; padding:0px; filter:none; }
.col2-left-layout .products-grid { float: left; margin-bottom: 12px; width: 750px !important; }

/* View Type: List */
.products-list li.item .zoom-image{top:78px; left:78px;}
.products-list li.item {}
.products-list li.item.last { /*border-bottom:0;*/ }
.products-list .product-shop { margin-left:185px; }
.products-list .product-image {
    background: #FFFFFF;
    float: left;
    min-height: 170px;
    margin: 0 0 0px;
    min-width: 170px;
	text-align:center;
}
.products-list .quick_view { margin-top:10px; float:left; }
.products-list .product-name { font-size:12px; margin:0 0 6px; }
.products-list .product-name a { text-decoration:none; font-weight:normal; font-size:16px;}
.products-list .product-name a:hover { text-decoration:none; }
.products-list .price-box { float:left; margin:4px 13px 0 0; }
.products-list .availability { float:left; margin:3px 0 0; }
.products-list .desc { clear:both; padding:6px 0 0; margin:0 0 13px; line-height:1.35; color:#313030; }
.products-list .desc a{color:#973c3e;}
.products-list .add-to-links li a{color:#313030;}
.products-list .add-to-links li a.link-compare{background-position:0 0;}
.products-list .add-to-links li a.link-wishlist{background-position:0 2px;}
.products-list .add-to-links li{border:none!important; padding-left:0px; float:left; margin-right:15px;}
.products-list .add-to-links { clear:both; }
.products-list .btn-cart { float: left; margin-right: 10px; margin-top: 10px; }
.products-grid .add-to-links li { padding:5px 10px 5px 0; float:left; border-bottom:none; }
.products-grid .add-to-links li.last { padding-right: 0; text-align: right; width: 115px; }
.products-grid .link-wishlist { background-position:0 2px; }
.products-grid .link-compare { background-position:0 0; }
.products-grid .add-to-links { border-top: 1px solid #E2E2E2; float: left; margin-top:8px; width:222px; }
.products-grid .ratings { float: right; line-height: 1.25; margin:5px 0 0; }
/* ======================================================================================= */

/* Product View ========================================================================== */
.no-rating { margin:6px 0 0 0; }
.no-rating a{ font-size: 11px; padding-left: 0;}

/* Availability */
.availability { margin:0; }
.availability span { font-weight:bold; }
.availability.in-stock span {}
.availability.out-of-stock span { color:#d83820; }

.product-view .product-shop .availability { font-size:11px; float:left;}
.product-view .product-shop .availability span {}
.product-view .product-shop .availability.in-stock { color: #71A52B; float: right; font-size: 11px; font-weight: normal; margin: 10px 0; padding: 3px 0px; }
.product-view .product-shop .availability.out-of-stock { color: #ff3400; float: right; font-size: 11px; font-weight: normal; margin: 10px 0; padding: 3px 0px; }

/* Email to a Friend */
.email-friend { float: left; padding:5px 10px; margin:0px; }
.email-friend a { background: url("../images/email.png") no-repeat 0px 3px; font-size: 11px; padding-left:20px; }

/********** < Product Prices */
.price { white-space:nowrap !important; }
.price-box { margin:5px 0 10px; }
.price-box .price { font-size:16px; font-weight:normal; color:#957b47; font-family:Arial, Helvetica, sans-serif;}

/* Regular price */
.regular-price { color:#000; }
.regular-price .price { font-size:16px; font-weight:bold; color:#404040; }
.product-shop .regular-price .price{font-size:24px;}

/* Add to Links */
.add-to-links { margin: 0 0; }
.add-to-links li {line-height:20px; padding:7px 10px; border-bottom:1px solid #E2E2E2;}
.add-to-links li a {}
.add-to-links .separator { display:none; }
.link-wishlist{background:url(../images/wishlist.png) no-repeat 0px 4px; padding-left:17px;}
.link-compare{background:url(../images/compare.png) no-repeat 0px 4px; padding-left:17px;}

/* Add to Cart */
.add-to-cart label { float:left; margin-right:5px; font-weight:bold; line-height:20px; margin-top:8px; }
.add-to-cart .qty {
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 7px 1px #D5D5D5 inset;
	-moz-box-shadow: 0 0 7px 1px #D5D5D5 inset;
	-webkit-box-shadow: 0 0 7px 1px #D5D5D5 inset;
    float: left;
    margin: 2px 20px 0 11px;
    padding: 7px 0;
    text-align: center;
    width: 35px !important;
}
.add-to-cart button.button { float:left; margin:2px 0px 0px 0px; }
.add-to-cart .paypal-logo { clear:left; margin:0; text-align:right; }
.add-to-cart .paypal-logo .paypal-or { clear:both; display:block; margin:5px 60px 5px 0; }

/* Add to Links + Add to Cart */
.add-to-box { float: left; margin: 0; padding: 0 10px 10px; }
.product-shop button.button span span { height:auto; }
.add-to-box .add-to-cart { float: left; padding: 10px 0; text-align: right; }
.add-to-box .add-to-cart .paypal-logo { float:left; }
.add-to-box .or { display:none !important; }
.add-to-box .add-to-links { margin:10px 0; text-align:right; }
.add-to-box .add-to-links li .separator { display:none !important; }
.product-essential { padding:0 0 25px; }
.product-essential h2 { font:bold 12px/1.25 'Telex', sans-serif; margin-bottom:10px; }

.product-collateral {}
.product-collateral .form-add button.button span span{background:#bca474;}
.product-collateral h2 { font-size:19px; font-weight:normal; line-height:1.15; }
.product-collateral .box-collateral {}
.box-collateral .regular-price .price{color:#404040;}
.box-center {margin:0px auto; width:960px;}

/* Product Images */
.product-view .product-img-box { float:left; width:406px; }
.col3-layout .product-view .product-img-box { float:none; margin:0 auto; }
.product-view .product-img-box .product-image { margin:0 0 10px; border:1px solid #cacaca; }
.product-view .product-img-box .product-image-zoom {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #bababa;
    height: 400px;
    position: relative;
    width: 400px;
    z-index: 9;
	float:left;
	margin:0px;
}
.product-view .product-img-box .product-image-zoom img { position:absolute; left:0; top:0; cursor:move; }
.product-view .product-img-box .more-views h2 { font-size:10px; font-weight:normal; padding:0 0 2px; border-bottom:1px solid #ccc; margin:0 0 8px; text-transform:uppercase; }
.product-view .product-img-box .more-views ul { margin-left:-10px }
.product-view .product-img-box .more-views li { border: medium none; float: left; height:94px; margin: 0; width:94px; padding:0px; margin-right:5px; border:1px solid #bbbbbb; }
.product-view .product-img-box .more-views li a { background: none repeat scroll 0 0 #f2f2f2; float: left; height:92px; overflow: hidden; padding: 2px; width:92px; }

/* Product Shop */
.col1-layout .product-view .product-shop { float:right; width:540px; }
.col3-layout .product-view .product-shop { float:none; width:auto; }
.product-view .product-shop { float:right; width:363px; }
.product-view .product-shop .product-name { margin:0 0 5px; }
.product-view .product-shop .product-name h1 { color: #404040; font: 28px/1.25 'Telex', arial, Times, serif; }
.product-view .product-shop .availability { margin:10px 0; }
.product-view .product-shop .short-description { border-bottom: 1px solid #E2E2E2; border-top: 1px solid #E2E2E2; margin: 0px 0 0; padding: 10px 0px; font-size:12px; line-height:20px; }
.product-view .product-shop .price-box { margin:10px 0; }
.product-view .product-shop .add-to-links { float: left; text-align: left; width:100%; }
.product-view .product-shop .add-to-links { text-align:left; }
.product-view .product-shop .add-to-links li { }
.product-view .product-shop .add-to-links li .separator { display:none !important; }
.product-view .product-shop .product-options-bottom .paypal-logo { float:left; }
.pro-left {width:330px; float:left;}
.pro-right {width:190px; float:right; border: 3px solid #e2e2e2; padding:0 0 5px;}
.product-shop .ratings { float: left;  line-height: 1.25; margin: 0px 0 7px;  width: 100%;}

.ic_caption{
	display:none;
    height:180px;
    left: 0;
    position: absolute;
    top: 0;
	padding:10px;
    width:164px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
}
.outer:hover div.ic_caption{display:block!important;}
.view_product a { background: none repeat scroll 0 0 transparent; color: #545454; float: left; font-size: 11px; margin-top: 10px; text-decoration: underline; width: 148px; }
/*media*/
.more-views .jcarousel-skin-tango .jcarousel-next-horizontal { background: url("../images/small_pre.png") no-repeat scroll 0 0 transparent; cursor: pointer; height: 27px; position: absolute; right: -6px; top: 48px; width: 18px; }
.more-views .jcarousel-skin-tango .jcarousel-prev-horizontal { background: url("../images/small_next.png") no-repeat scroll 0 0 transparent; cursor: pointer; height: 32px; left: 388px; position: absolute; top: 21px; width: 32px; }
.more-views .jcarousel-skin-tango .jcarousel-prev-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-horizontal:focus { background-position: 0 0; }
.more-views .jcarousel-skin-tango .jcarousel-next-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-horizontal:focus { background-position: 0 0; }
.mb-10 { margin-bottom:15px; }
.pro-right .add-to-box { position:relative; }
.pro-right .add-to-cart label { display:none; }
.pro-right .add { color: #404040; cursor: pointer; font-family: Georgia Sans MS; font-size: 24px; left: 63px; position: absolute; top: 7px; }
.pro-right .dec.add { left:7px; }
.product-options-bottom { float:left; position:relative; padding:0 10px 10px; }
#reset_btn { left: 25px; position: absolute; top: 42px; }
.pro-left .rating-box { background: url("../images/bkg_rating.jpg") repeat-x scroll 0 0 transparent; height: 23px; width: 125px; }
.pro-left .rating-box .rating { background: url("../images/bkg_rating.jpg") repeat-x scroll 0 100% transparent; height: 23px; }
.pro-left .ratings .rating-links { margin: 8px 0 0; }
.pro-left .review { float: left; margin-top: 10px; width:330px; }
/*size guide*/
.size_guide a { color: #545454; text-decoration: none; }
.size_guide a { background: url("../images/size_guide.gif") no-repeat scroll left center transparent; float: left; margin-top: 10px; padding:5px 0 5px 126px; width: 205px; }
.size_guide a span { color: #957B47; display: inline-block; font-size: 11px; line-height: 15px; text-decoration: none; width: 100%; }

/* Product Tabs */
.product-tabs { margin-bottom:0; }
.product-tabs li { float:left; font-size:1.1em; line-height:1em; }
.product-tabs li.first { border-left:0; }
.product-tabs li.last { border-right:0; }
.product-tabs a { background: #fff; border: 1px solid #e2e2e2; color: #404040; display: block; font-size: 11px; margin-right: 5px; padding:8px 15px; border-bottom:none; }
.product-tabs a:hover { background-color: #eeeeee; border: 1px solid #e2e2e2; color: #404040; font-weight: normal; font-size:11px; text-decoration:none; border-bottom:none; }
.product-tabs li.active a, .product-tabs li.active a:hover { background-color: #eeeeee; color: #404040; font-weight: normal; font-size:11px; text-decoration:none; }
.product-tabs-content { background: #fff; color: #404040; padding: 15px; float:left; width:930px; border:1px solid #e2e2e2; }
.product-tabs-content h2 { display:none; font-size:12px; font-weight:bold; }
.form-add button.button span span { background: #fff; border: medium none; height: 23px; line-height: 20px; }
.product-img-box .more-views li.slide-current a { border:2px solid #aaa; }
.product-img-box .product-image-zoom img { cursor: pointer; }

/*product view*/
.catalog-product-view .col1-layout .main { width:960px; padding:0px; position:relative; }
.more-views { float: left; width: 400px; margin-top:10px; }
.more-views ul { float:left; }
.more-views ul li { float:left; list-style-type:none; }
.view_pan { background: none repeat scroll 0 0 #BCA474; min-height: 278px; padding-bottom: 10px; }
.view_pan input, .view_pan select { background:#FFF; }
.special .jcarousel-skin-tango .jcarousel-clip { float: left; overflow: hidden; width: 956px; border:1px solid #BABABA; }
.col2-right-layout .products-grid { float:left; }
.block-cart .mini-products-list .product-details { display:block; text-align:right; }
.block-cart .mini-products-list li:hover a.product-image { display:block!important; }
.block-cart .mini-products-list .product-image { height:auto; }

/* Block: Description */
.product-view .box-description {}

/* Block: Upsell */
.product-view .box-up-sell h2 { margin:0 0 8px; }

/* Block: Tags */
.product-view .box-tags { margin:0; }
.product-view .box-tags h3 { font-size:12px; }
.product-view .box-tags .product-tags { display:block; margin:0 0 15px; }
.product-view .box-tags .product-tags li { display:inline; padding:0 7px 0 4px; }
.product-tags li a{color:#404040;}
.product-view .box-tags .product-tags li.first { padding-left:0; }
.product-view .box-tags .product-tags li.last { background:none; padding-right:0; }
.product-view .box-tags .form-add label { display:block; font-size:12px; font-weight:bold; margin:0 0 3px; }
.product-view .box-tags .form-add .input-box { float:left; width:305px; margin:0 5px 0 0; }
.product-view .box-tags .form-add input.input-text { width:299px; padding:3px 2px 4px; }
.product-view .box-tags .form-add button.button span { height:23px; line-height:24px; }
.product-view .box-tags .note { margin:2px 0 0; font-size:10px; }
.product-view .button.button span{height:auto;}
.box-tags ul li a, .box-tags h2{color:#404040;}
/* ======================================================================================= */

/* Content Styles ================================================================= */
.product-name { margin:0; font-size:1em; font-weight:normal; line-height:1.55; }

/* CMS Home Page */
.cms-home .main { padding:0; background:none; border:none; filter:none;}
/* ======================================================================================= */

.please-wait { float:right; }
.please-wait img { vertical-align:middle; }

/********** Common Checkout Styles > */

/* One Page Checkout */
.block-progress { border:0; margin:0; }
.block-progress .block-title { background:none; border:0; padding:0; margin:0 0 5px; }
.block-progress .block-title strong { font-size:12px; }
.block-progress .block-content { background:none; padding:0; }
.block-progress dt { font-size:10px; line-height:1.35; background:#BCA474; border:1px solid #BCA474; margin:0 0 6px; padding:5px 8px; color:#fff; text-transform:uppercase; }
.block-progress dd { border-top:0; padding:2px 10px; margin:0 0 6px; }
.block-progress .block-title span{color:#313030;}
.block-progress dt.complete {}
.block-progress dt.complete a { text-transform:none; color:#fff;}
.block-progress dd.complete { color:#313030;}
.block-progress p { margin:0; }

.opc .buttons-set { margin-top:10px; padding-top:5px; }
.opc .buttons-set p.required { margin:10px 0px 0px 0px; padding:0 0 10px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:28px; line-height:28px; }
.opc .ul { list-style:disc outside; padding-left:18px; }
.opc { position:relative; }
.opc .step-title { border:1px solid #ddd; border-top-color:#fff; background:#eee; padding:4px 8px 6px; text-align:right; }
.opc .step-title .number { float:left; background:#fff; border:1px solid #fff; padding:0 3px; margin:0 5px 0 0; font:normal 11px/12px 'Telex', arial, Times, serif; color:#444; }
.opc .step-title h2 { float:left; margin:0; font:bold 12px/14px 'Telex', arial, Times, serif; color:#999; }
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }
.opc .allow .step-title { background: none repeat scroll 0 0 #BCA474; border-bottom: 1px solid #FFFFFF; border-color: #BCA474 #BCA474 #FFFFFF; color: #FFFFFF; cursor: pointer; }
.opc .allow .step-title .number { }
.opc .allow .step-title h2 { color:#fff; }
.opc .allow .step-title a { display:block; font-size:10px; color:#fff; text-transform:uppercase; }
.opc .active .step-title { background: none repeat scroll 0 0 #BCA474; border: 1px solid #BCA474; color: #FFFFFF; cursor: default; padding-bottom: 5px; }
.opc .active .step-title .number { }
.opc .active .step-title h2 { color:#fff; }
.opc .active .step-title a { display:none; }
.opc .step { padding:15px 0px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-review .step { padding:0; }
#opc-review .product-name { font-weight:bold; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { border:0; padding:15px 0px; }
#opc-review .buttons-set p { margin:0; line-height:28px; color:#313030; }
#opc-review .buttons-set .please-wait { height:28px; line-height:28px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }
/* ======================================================================================= */

/* Footer ================================================================================ */
.footer-container { padding-top:25px; padding-bottom:10px; }
.footer-container address { color: #000000; font-style: normal; height: 20px; line-height: 1.35; padding: 20px 0px 5px 0px; font-size:10px; text-align: center; font-family:Arial, Helvetica, sans-serif; }
.footer-content { float:left; width:960px; border-top: 1px solid #BABABA; padding-top:20px; }
.footer .bottom_links ul li a { line-height:30px; }
.footer .bottom_links ul li a:hover { color:#9d8149; border-bottom:1px dotted #9d8149; }
.footer { margin: 0 auto; width: 960px; border-top:#BABABA solid 1px; padding-top:14px; position:relative; }
.footer a { color:#404040; }
.footer h3 { font-size: 11px; text-transform: uppercase; }
.footer ul { display:inline; }
.footer ul li { padding:0 5px 0 0; margin:0 3px 0 0; width:100%; float:left; }
.footer ul li a{color:#000000;}
.footer .f-left { width:934px; margin-top:15px; }
.footer .f-right { width:429px; }
.footer address { float:right; }
.footer address a { color:#404040; }
.footer .block_1 { float: left; padding: 0 20px 0 0px; width: 224px; }
.footer .block_2 { float: left; padding: 0 0 0 0px; width: 227px; }
.footer .f-fix {font-family:'Telex', arial, Times, serif;}

/*footer newsletter*/
.footer .form-subscribe { float:right; width:auto; padding-top:9px; padding-left:36px; min-height:40px; border-left: 1px solid #BABABA; }
.footer .form-subscribe label, .footer .form-subscribe .input-box, .footer .form-subscribe button.button { float: left; height: 26px; color: transparent; box-shadow:none; filter:none; }
.footer .form-subscribe .validation-advice { position: absolute; top: 48px; width: 303px; }
.footer .form-subscribe button.button { filter:none; }
.footer .form-subscribe .input-box input { filter:none; }
.footer .form-subscribe label { padding-top:2px; font-weight:bold; color:#404040; }
.footer .form-subscribe .input-box { background: #fff; height: 26px; border:1px solid #E2E2E2; }
.footer .form-subscribe input.input-text { background: none repeat scroll 0 0 transparent; border: medium none; color: #404040; float: left; line-height: 16px; margin: 4px 0; padding: 2px 2px 2px 10px; width: 290px; }
.footer .form-subscribe button.button span { height:22px; border-left:1px solid #E2E2E2; line-height:24px; padding:0px 9px; background:none; font-weight:normal; color:#404040; box-shadow:none; }
.footer .form-subscribe-header{font-size:15px; line-height:30px; text-transform:uppercase; float:left; padding-right:10px;}

.footer_links { float: left; width: 180px; }
.social_box { float:left; width:100%; padding-bottom:20px; }
.facebook, .twitter, .linkedin, .youtube {float:left; margin-right:7px;}

.facebook a {background:url(../images/facebook.png) no-repeat 0 0px; width:43px; height:44px; display:block;  -moz-transition:all 0s ease 0s; -webkit-transition:all 0s ease 0s;
transition: all 0s ease 0s; -ms-transition:all 0s ease 0s;}
.facebook a:hover {-moz-transform: rotate(-360deg); -moz-transition: all 0.8s ease-in-out 0s; -webkit-transform: rotate(-360deg); -webkit-transition: all 0.8s ease-in-out 0s;
-ms-transform: rotate(-360deg); -ms-transition:all 0.8s ease-in-out 0s; transform: rotate(-360deg);	transition: all 0.8s ease-in-out 0s;}

.youtube a {background:url(../images/youtube.png) no-repeat 0 0px; width:43px; height:44px; display:block;  -moz-transition:all 0s ease 0s;  -webkit-transition:all 0s ease 0s;}
.youtube a:hover  {-moz-transform: rotate(-360deg); -moz-transition: all 0.8s ease-in-out 0s; -webkit-transform: rotate(-360deg); -webkit-transition: all 0.8s ease-in-out 0s;}

.vkontakte a {background:url(../images/vkontakte.png) no-repeat 0 0px; width:43px; height:44px; display:block; -moz-transition:all 0s ease 0s; -webkit-transition:all 0s ease 0s;}
.vkontakte a:hover  {-moz-transform: rotate(-360deg); -moz-transition: all 0.8s ease-in-out 0s; -webkit-transform: rotate(-360deg); -webkit-transition: all 0.8s ease-in-out 0s;}

.linkedin a {background:url(../images/linkedin.png) no-repeat 0 0px; width:43px; height:44px; display:block; -moz-transition:all 0s ease 0s; -webkit-transition:all 0s ease 0s;}
.linkedin a:hover  {-moz-transform: rotate(-360deg); -moz-transition: all 0.8s ease-in-out 0s; -webkit-transform: rotate(-360deg); -webkit-transition: all 0.8s ease-in-out 0s;}

.payment{float:left; width:100%;}
.payment img{float:left; padding-right:8px;}
/* ======================================================================================= */

/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.top-bar:after,
.quick-access:after,
.form-search:after,
#nav:after,
.main:after,
.footer:after,
.footer .form-subscribe:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.order-info ul:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-tabs:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */

/*product img*/
.outer a.zoom-image { background: url("../images/zoom.png") no-repeat scroll center center transparent; height:47px; text-align: center !important; width: 174px; }
.outer .regular-price .price { color: #FFFFFF; font-family:arial, Times, serif; }
li:hover .outer a.zoom-image{display:block!important;}
ul.products-scroller li:hover a.product-image img{opacity:0.3; filter: alpha(opacity=30);}
ul.products-grid li:hover .zoom-image, .products-list li:hover .zoom-image{display:block!important;}
ul.products-grid li:hover a.product-image img , .products-list li:hover a.product-image img{opacity:0.3; filter: alpha(opacity=30);}
.frame {background: url(../images/frame.png) no-repeat;     
	color: #FFFFFF;
    font-size: 0;
    height: 31px;
    left: 450px;
    position: absolute;
    top: -14px;
    width: 118px;}
.prod-next {
    background: url("../images/decorative_nextbtn.png") no-repeat scroll 52px 6px #BCA474;
    border: 2px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 2px 1px #D5D5D5;
    color: #FFFFFF;
    float: right;
    font-size: 10px;
    padding: 2px 37px 2px 20px;
}
.prod-prev {
    background: url("../images/decorative_prevbtn.png") no-repeat scroll 10px 6px #BCA474;
    border: 2px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 2px 1px #D5D5D5;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    padding: 2px 20px 2px 37px;
}
a.prod-next:hover {background: url("../images/decorative_nextbtn.png") no-repeat scroll 52px 6px #404040;}
a.prod-prev:hover { background: url("../images/decorative_prevbtn.png") no-repeat scroll 10px 6px #404040;}
/*promotional*/
.promotional{width:460px; background:#bca474; padding:5px; float:left;}
.promotional_inner{border:1px solid #fff; width:458px;}
.promotional_inner h1{font:normal 22px/1.3 'Telex', arial, Times, serif; color:#fff; text-align:left; border-bottom:1px solid #fff; padding:3px 10px;}
.promotional_inner p{font:normal 16px/1.3 'Telex', arial, Times, serif; color:#fff; text-transform:none; text-align:right; margin:0px; padding:5px 10px;} 
.promotional.first{margin-right:20px;}
.arrow_img { display: inline-block; padding-left: 10px; padding-top: 10px; }
.outer { float: left; height: 190px; padding-bottom: 10px; text-align: center; width: 184px; }

/*promotional_banner*/
.promotional_block { width:298px; float:left; margin-left:15px; }
.promotional_block .short_detial { float:left; width:135px; margin-top:30px; margin-left:5px; }
.promotional_block h3 { color:#545454; font:normal 21px/1.3 'Telex', arial, Times, serif; margin-bottom:10px; }
.promotional_block p { color:#6e6e6e; font:normal 14px/1.3 Arial, Helvetica, sans-serif; margin-bottom:10px; }
.promotional_block .price { color:#957B47; font:normal 24px/1.3 Arial, Helvetica, sans-serif; }
.promotional_block .short_detial a { background: none repeat scroll 0 0 #362E2B; color: #FFFFFF; display: inline-block; font-size: 14px; margin: 12px 0 0; padding: 5px 9px; text-decoration: none; }
.promotional_block .short_detial a:hover { background:#bca474; }

.block_one, .block_two { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #BBBBBB; float: left; height: 300px; margin-bottom: 15px; overflow: hidden; width: 250px; }
.block_one img, .block_two img { float:left; }
.block_two { margin-bottom:0px!important; }

/* Misc */
.category_page_title { font-size: 22px; margin-bottom:5px; padding: 5px 0; }
.addthis { float: left; margin-top: 15px; width: 350px; }
.facebook_like iframe { width:330px!important; }
.add-to-cart #ajax_loader { display: block; position: absolute; right: -8px; top: 18px; }
#back-top{position:fixed; right:20px; bottom:20px; width:64px; height:66px; display:block;}
.quickllook{background:#bca474 url(../images/quickllook.png) no-repeat right center; border:2px solid #fff; padding:5px 30px 5px 10px; font-size:12px; color:#fff; display:inline-block!important; margin:20px 0;}
#fancybox-outer { position: relative; width: 100%; height: 100%; background:#fff url(../images/ajax_loader.gif) no-repeat center center; }
.cart_icon { margin: 0 5px 0 0; position: relative; top: -9px; }
.block-cart .summary.trigger-minicart { z-index:100; }
/*pages_box*/
.page_pan {
    background:none;
    left: 0;
    position: fixed;
    top: 100px;
    width: 150px;
}
.page_box a{padding:5px 0; font-size:12px; font-weight:bold; font-family:arial, Geneva, sans-serif; text-align:left; display:inline-block; width:100%;}
.page_box a:hover{color:#000;}
.pagebox_btn{cursor:pointer;}
.page_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #BCA474;
    float: left;
    padding: 10px;
    text-align: left;
    width: 70px;
}
.pagebox_btn {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #BCA474;
    border-radius: 0 5px 5px 0;
    float: left;
    margin-left: -3px;
    margin-top: 34px;
    padding: 5px;
    width: 14px;
}
.pagebox_btn:hover{ background:#BCA474; color:#fff;}
.pagebox_btn span{}

/* pop-ups (begin) */
.arcticmodal-overlay,
.arcticmodal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.arcticmodal-container {
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}
*:first-child + html .arcticmodal-container { height: 100% }
.arcticmodal-container_i {
    height: 100%;
    margin: 0 auto;
}
.arcticmodal-container_i2 {
    padding: 24px;
    margin: 0;
    border: 0;
    vertical-align: middle;
}
.arcticmodal-error {
    padding: 20px;
    border-radius: 10px;
    background: #000;
    color: #fff;
}
.arcticmodal-loading {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background: #000000 url(loading.gif) no-repeat 50% 50%;
}
.box-modal {
    position: relative;
    width: 440px;
    padding: 7px 13px 13px 13px;
    background: #fff;
    border: 1px solid #797979;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	width:500px
}
.arcticmodal-container_i2 #technique_popup.box-modal   h1,
.arcticmodal-container_i2 #technique_popup  h2 {
    color: #666666;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 10px 0 20px;
}
.arcticmodal-container_i2 #technique_popup.box-modal   p {
    text-align: center;
    font-size: 13px;
}
.arcticmodal-container_i2 #technique_popup.box-modal  .p.note {
    text-align: left;
    font-size: 11px;
}
.arcticmodal-container_i2 #technique_popup.box-modal   p.label { text-align: left }
.arcticmodal-container_i2 #technique_popup.box-modal   p.label+.info {
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #3399FF;
}
.arcticmodal-container_i2 #technique_popup.box-modal   .contact-info>div { margin-bottom: 10px }
.arcticmodal-container_i2 #technique_popup.box-modal   .questions { width: 100% }
.arcticmodal-container_i2 #technique_popup.box-modal   hr {
    display: block;
    margin: 0px auto 20px;
    width: 342px;
    background: #3399FF;
    color: #3399FF;
    border-color: #3399FF;
    border-width: 0;
    border-bottom-width: 1px;
}
.box-modal:before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 50%;
    bottom: 0px;
    left: 10px;
    right: 10px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    border-radius: 10px;

}
.box-modal .title-wrap{margin-right: 0;}
.box-modal .title-wrap h3{margin-left: 0;}
.box-modal .box-modal_close,
.popup-attention .popup-close,
.ask-popup .popup-close {
    line-height: 22px;
    color: #fff;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    text-align: center;
    /*border: 1px solid #778288;*/
    background: #06AB90;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    behavior: url(/pie/PIE.htc);
}
html body div.arcticmodal-container table.arcticmodal-container_i tbody tr td.arcticmodal-container_i2 div#enter-popup.box-modal.enter-popup form#LoginForm div.form.mini div.row a.back-to-main {
    position: relative;
    top: -30px;
    left: -8px;
}
.grey{color: #666;}
.green-title { color: #06AB90 }
.error-img{
    background: url(../images/error404.png);
    width: 265px;
    height: 222px;
    margin: 40px auto 15px;
}
.error404 p{
    width: 400px;
    margin: 0 auto;
    font-size: 14px;
    color: #000;
    line-height: 15px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
}
.error404 a{
    width: 170px;
    height: 44px;
    display: block;
    margin: 0 auto;
    font-size: 13px;
    line-height: 43px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.hreff {
    cursor: pointer;
}
.hreff:hover {
  color: #957B47;
  cursor: pointer;
}

.errorMessage { clear: both ;color: #ff0000;}
.form.wide .errorMessage {
    margin-left: 26px;
    float: left;
    font-style: italic;
    color: red;
    width: 445px;
    clear: both;
}
//validate email
div.row-high label.error {
   background: url('/images/unchecked.gif') no-repeat;
/*     padding-left: 16px;
    margin-left: .3em;*/
    display: block;
    width: 16px;
    height: 16px;

}
label.valid {
    background: url('/images/checked.gif') no-repeat;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
}

#validEmail
    {
    margin-top: 4px;
    margin-left: 9px;
    position: absolute;
    width: 16px;
    height: 16px;
    }
	
div.outer-img {
    float: left;
    margin-right: 10px;
    padding-bottom: 10px;
    height: 190px;
    text-align: center;
    width: 184px;    
    }

.outer-img:hover div.ic_caption{display:block!important;
    position: relative;
    top: -192px;}
    
.outer-img .regular-price .price { color: #FFFFFF; font-family:arial, Times, serif; }
    
.product-img {   
    height: 187px;
    //padding-bottom: 10px;
    //text-align: center;
    width: 150px;
    }
    
.prod-view {
    position: relative; 
    display: block;
//    top: 0px;
//    left: 0px;
    min-height: 600px;
    }
    
.prod-image {
    width:  406px;
    height: 406px; 
    display: left;
    top: 40px;
    left: 0px;
//    position: absolute;
    }
    
.prod-options {
    display: left;
    top: 40px;
    left: 420px;
    position: absolute;
    border-left: 1px solid #BABABA;
    padding-left: 10px;
    min-height: 570px;
    min-width: 530px;
    }   

div.row-high:after {
    content: "";
    display: table;
    clear: both;
}    
    
div.row-high div.left {
    width: 100px;
    }
div.row-high div.right {
    width: 400px;
    }    